@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
    font-size: 10px;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: linear-gradient(150deg, #0B0C10 0%, #2D1B4A 50%, #240046 75%, #1B2845 100%);
    font-family: Righteous, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

#__next {
    height: 100%;
}

main, header {
    display: flex;
    flex-direction: column;
}
